<%= form_with(model: task, local: true) do |form|%>
  <% if task.errors.any?%>
    <ul>
      <% task.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block"%>
    <%= form.text_field :title%>
  </div>

  <div>
    <%= form.label :content, style: "display: block"%>
    <%= form.text_field :content%>
  </div>

  <div>
    <%= form.label :category_ids, "Categories", style: "display: block" %>
    <%= form.collection_check_boxes :category_ids, current_user.categories, :id, :title do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit%>
  </div>
<% end %>