<div id="<%= dom_id task %>">
  <h3><%= link_to task.title, task %></h3>
  <p><%= task.content %></p>
  <p>Created by:<%= task.user.username %></p>
  
  <div class="categories">
    <% if task.categories.any? %>
      <p>Categories:</p>
      <% task.categories.each do |category| %>
        <span class="category-badge"><%= category.title %></span>
      <% end %>
    <% else %>
      <em>No categories</em>
    <% end %>
  </div>
</div>