<h3>Categories:</h3>
<% @task.categories.each do |category|%>
  <span class="category-badge"><%= category.title%></span>
<%end%>

<p><%= notice %></p>

<div>
  <h2><%= @task.title %></h2>
  <p><%= @task.content %></p>
  <p><strong>Created by:</strong> <%= @task.user.username %></p>
</div>


<div>
  <%= link_to "Edit this task", edit_task_path(@task) %>
  <%= link_to "Back to task", tasks_path %>

  <%= button_to "Destroy this task", @task, method: :delete %>
</div>